{% extends "dj_admin_plus/base.html" %}
{% load dj_admin_plus %}

{% block content %}
    {% include "dj_admin_plus/title.html" with title="Change password" %}

    <form method="POST" class="w-[800px] max-w-[100%] form-group text-sm text-neutral-700">
        {% csrf_token %}

        {% for field_name in form.fields %}
            {% get_form_field_from_name form field_name as field %}
            {% include "dj_admin_plus/form-block.html" with field=field %}
        {% endfor %}

        <div class="mt-8 block text-end">
            <input type="submit" name="save" value="Save"
                   class="bg-[#2371B0] hover:bg-blue-500 text-white px-6 py-2  rounded-full">
        </div>
    </form>
{% endblock %}